{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block content %}

<div class="container mb-5 footer-down">
    <div class="row">
          <!-- breadcrumbs -->
          <div id="breadcrumbs" class="col-12 mt-2">
            <a href="/">Home </a>
            <a class="pl-3" href="{% url 'view_fav' %}">Favourites </a>
          </div>
    </div>
    <div class="row justify-content-center">
          <heading class="col-11 col-md-10 text-center mt-5">
            <h1 class="pb-5">Your Favourite Watches</h1>
          </heading>  
    </div>
    <!-- contents of shopping cart -->
  {% if favourite_products %}
    <div class= "container cart-container">
        <div class="row justify-content-center">
            {% for product in favourite_products %}
            <div class= "col-4 mb-5">
                <img class="mx-auto text-center"src="{{MEDIA_URL}}{{product.image}}" alt="Product-image" height="100" width="100"></img>
            </div>
            <div class="col-8 mb-5">
                <div class="row">
                    <div class="col-10">
                        <h4>{{ product.title }}</h4>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div> 
        {% else %}
        <heading class="col-11 col-md-10 text-center mt-5">
        <h4>You don't have any favourites.</h4>
        </heading>
        <div class="col-10 text-center brand-card mt-5 pr-1">    
            <a href="{% url 'all_products2' %}"><strong>Continue Shopping</strong></a>
        </div>
        {% endif %}
    </div>
</div> 
{% endblock %} 
