{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block content %}

<div class="container mb-5">
    <div class="row">
          <!-- breadcrumbs -->
          <div id="breadcrumbs" class="col-12 mt-2">
            <a href="/">Home </a>
            <a class="pl-3" href="{% url 'view_fav' %}">Favourites </a>
          </div>
    </div>
    <div class="row justify-content-center">
          <heading class="col-11 col-md-10 text-center mt-5">
            {% if favourite == 0 %}
            <h1>You don't have any favourites!</h1>
            <a href="{% url 'all_products2' %}" class="btn btn-dark my-5"> Continue Shopping</a>
            {% else %}
            <h1 class="pb-5">Your Favourite Watches</h1>
            {% endif %}
          </heading>  
    </div>
    <!-- contents of shopping cart -->
  {% if favourites %}
    <div class= "container cart-container">
        <div class="row justify-content-center">
            {% for favourite in favourites %}
            <div class= "col-4 mb-5">
                <img class="mx-auto text-center"src="{{MEDIA_URL}}{{favourite.product.image}}" alt="Product-image" height="100" width="100"></img>
            </div>
            <div class="col-8 mb-5">
                <div class="row">
                    <div class="col-10">
                        <h4>{{ favourite.title }}</h4>
                    </div>
                    <div class="col-10">
                        <form class="form-inline" method="post" action="{% url 'add_remove_favourites' product.id %}">
                            {% csrf_token %}
                            <div class="form-group">
                                <div class="input-group">
                                    <button type="submit" class="btn btn-dark btn-sm"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span><strong>Quantity</strong></button>
                                    <input class="input-cart px-1" name="quantity" type="number" min="0" max="50" class="form-control" value="{{item.quantity}}">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div> 
        <div class="col-10 text-center">
            <a href="{% url 'checkout' %}" class="btn btn-dark" role="button"><span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>Checkout</a>
        </div>
        <div class="col-10 text-center brand-card mt-5">    
            <a href="{% url 'all_products2' %}"><strong>Continue Shopping</strong></a>
        </div>
        {% endif %}
    </div>
</div> 
{% endblock %} 
