{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Home{% endblock %}

{% block content %}

<!--Title-Images-->
<section class ="homepage-imgs">
    <div class="container-fluid title-container">
        <div class="row">
            <div class="col-md-6 title-img">
                <img class="img-fluid" src="{% static 'img/ladieswatch.jpg' %}" alt="ladies watches">
                <a class="btn btn-primary text-uppercase" href="{% url 'ladieswatch' %}">Ladies Watches</a>
            </div>
            <div class="col-md-6 title-img">
                <img class="img-fluid" src="{% static 'img/menswatch.png' %}" alt="mens watches">
                <a class="btn btn-primary text-uppercase" href="{% url 'menswatch' %}">Mens Watches</a>
            </div>
        </div>
    </div> 
</section>

<!--Promotion banner -->
<section class = "container-fluid promotion-banner">
    <div class = "row">
      <div class = "col-12 text-center text-white banner">
        <i class ="pt-1 fas fa-truck" style="color:rgb(0, 128, 129);"></i>
        <p class = ban-text>Free Next Day Delivery Over €100</p>
      </div>
    </div>
</section>

<!--Product-showcase featured watches-->
<section class="products-showcase">
    <div class="container featured-products">
        <div class="row mx-auto justify-content-center">
           <div class="col-12 pb-5">
                <h3>Shop Our Featured Watches</h3>
            </div>
             <div class="card-deck"> 
                {% for product in featured_products %}
                 <div class="col-xs-12 col-md-6 col-lg-3 mx-auto featured-card">
                    <div class="card" style="width: 17rem;">
                         <a href="{% url 'product_detail' product.id %}"  class="product-image">
                             <img class="card-img"src="{{MEDIA_URL}}{{product.image}}" class="card-img-top product-image" alt="{{product.name}}" />
                            </a>
                            <div class="overlay"></div>
                             {% if product.bestseller %}
                             <div class="product-label text-center">Bestseller</div>
                             {% endif %}
                             <div class="card-body product-details">
                             <h6 class="card-title product-name"><a href="{% url 'product_detail' product.id %}"  class="product-title">{{ product.title }}</a></h6>
                         
                             <p class="product-price">€ {{ product.price }}</p>
                         </div>
                         <form method="post" action="{% url 'add_to_cart' product.id %}">
                         {% csrf_token %}
                         <div class="input-group add-cart">
                             <input class="input-add-checkout"  name="quantity" type="number" min="1" max="999" class="form-control" value="1">
                             <span class="input-group-btn">
                                 <button class="btn btn-dark rounded-0 btn-sm" type="submit">Add to Cart</button>
                             </span>
                         </div>
                     </form>
                     </div>
                 </div>
           {% endfor %} 
          </div>
        </div>
     </div>    
 </section>  
 
 <!--Watch shop Promotion-->  
<section>
 <div class="jumbotron jumbotron-fluid shop-promo">
    <div class="container text-center">
      <h3 class="display-4">TickTock</h3>
      <p class="lead"><strong>Ireland's Largest Online Watch Shop</strong></p>
      <p>Welcome to TickTock - We are proud to stock a wide selection of watches for him and for her, from sought-after brands such as Casio, HUGO BOSS, Citizen and many more at our TickTock watch shop. Watches make perfect presents for friends, for family, for you and for love.</p>
    </div>
  </div>
</section>

<!--Top Brands-->
<section class= "top-brands">
    <div class="container my-3">
      <div class="row mx-auto my-auto p-5">
        <div class="col-12 pb-5">
            <h3>Top Brands</h3>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-2 ">    
          <div class="card mt-2 brand-card">    
            <a href="{% url 'tissot' %}">
            <img class="card-img-top pt-2" src="{% static 'img/tissot.jpg' %}" alt={{product.title}}></a>
             <div class="overlay"></div>
            <div class="card-body">
              <h5 class="card-title text-center pt-2">Tissot</h5>
            </div>      
          </div>
        </div>
       
        <div class="col-12 col-sm-6 col-md-4 col-lg-2">
          <div class="card mt-2 brand-card">
            <a href="{% url 'citizen' %}">
            <img class="card-img-top pt-2" src="{% static 'img/citiw.jpg' %}" alt="Card image cap"></a>
            <div class="overlay"></div>
            <div class="card-body">
              <h5 class="card-title text-center pt-2">Citizen</h5>
            </div>
          </div>
       </div>

      <div class="col-12 col-sm-6 col-md-4 col-lg-2">
          <div class="card mt-2 brand-card">
            <a href="{% url 'lacoste' %}">
            <img class="card-img-top pt-2" src="{% static 'img/lacoste.jpg' %}" alt="Card image cap"></a>
            <div class="overlay"></div>
            <div class="card-body">
              <h5 class="card-title text-center pt-2">Lacoste</h5>
            </div>
          </div>
      </div>

      <div class="col-12 col-sm-6 col-md-4 col-lg-2 ">
          <div class="card mt-2 brand-card">
            <a href="{% url 'rolex' %}">
            <img class="card-img-top pt-2" src="{% static 'img/rolex.png' %}" alt="Card image cap"></a>
            <div class="overlay"></div>
            <div class="card-body">
              <h5 class="card-title text-center pt-2">Rolex</h5>
            </div>
          </div>
      </div>

      <div class="col-12 col-sm-6 col-md-4 col-lg-2 ">
          <div class="card mt-2 brand-card">
            <a href="{% url 'lorus' %}">
            <img class="card-img-top pt-2" src="{% static 'img/lorus.jpg' %}" alt="Card image cap"></a>
            <div class="overlay"></div>
            <div class="card-body">
              <h5 class="card-title text-center pt-2">Lorus</h5>
            </div>
          </div>
      </div>

      <div class="col-12 col-sm-6 col-md-4 col-lg-2">
          <div class="card mt-2 brand-card">
            <a href="{% url 'tedbaker' %}">
            <img class="card-img-top pt-2" src="{% static 'img/tedM.jpg' %}" alt="Card image cap"></a>
            <div class="overlay"></div>
            <div class="card-body">
              <h5 class="card-title text-center pt-2">Ted Baker</h5>
            </div>
          </div>
      </div>
    </div>

 </div>
</div>
 <div class="text-center py-3">
    <a href="{% url 'all_products2' %}" class="btn btn-dark rounded-0 btn-sm btn-home-products " >Show all watches</a>
</div>
</div>
</section>

{% endblock %}