{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<section class ="homepage-imgs">
<div class="container-fluid title-container">
    <div class="row">
        <div class="col-md-6 title-img">
            <img class="responsive-img" src="{% static 'img/ladies.jpg' %}" alt="title image">
            <a class="btn btn-primary text-uppercase" href="#">Ladies Watches</a>
        </div>
        <div class="col-md-6 title-img">
            <img class="responsive-img" src="{% static 'img/ladies.jpg' %}" alt="mens watches">
            <a class="btn btn-primary text-uppercase" href="#">Mens Watches</a>
        </div>
    </div>
</div> 
</section>
{% endblock %}