{% extends 'base.html' %}

{% load staticfiles %}

{% load is_user_in_fav %}

{% block title %}Home{% endblock %}

{% block content %}

<!--Promotion banner -->
<section class = "container-fluid delivery-banner">
    <div class = "row">
      <div class = "col-12 text-center text-white banner">
        <i class ="pt-1 fas fa-truck" style="color:rgb(0, 128, 129);"></i>
        <p class = ban-text>Free Next Day Delivery Over €100</p>
      </div>
    </div>
</section>

<!--Category-->
<section class="container-fluid category-list mt-5">
    <div class="col-12 text-center">
        <a href="{% url 'all_products2' %}" class="btn btn-hover">All</a>
        <a href="{% url 'menswatch' %}" class="btn btn-hover">Mens</a>
        <a href="{% url 'ladieswatch' %}" class="btn btn-hover">Ladies</a>
        <a href="{% url 'kidswatch' %}" class="btn btn-hover">Kids</a>
        <div class="dropdown" style="display:inline-block">
        <a href="{% url 'all_products2' %}" class="btn dropbtn btn-hover">Brands</a>
        <div class="dropdown-content">
            <a href="{% url 'rolex' %}">Rolex</a>
            <a href="{% url 'timex' %}">Timex</a>
            <a href="{% url 'citizen' %}">Citizen</a>
            <a href="{% url 'tedbaker' %}">Ted Baker</a>
            <a href="{% url 'tissot' %}">Tissot</a>
            <a href="{% url 'michaelkors' %}">Michael Kors</a>
            <a href="{% url 'lacoste' %}">Lacoste</a>
            <a href="{% url 'lorus' %}">Lorus</a>
        </div>
        </div>
    </div>
</section>

<!--Product-showcase-->
<section class="products-showcase footer-down">
    <div class="container">
        <div class="row justify-content-center">
            <div class="card-deck">
        {% if not products %} 
                <div class="col-12 no-product">
                   <h5>Sorry, but we couldn't find anything to match your search.</h5>
                   <p>Please note that this does not necessarily mean that we do not have the product(s) you are looking for.</p>
                   <ul class="pl-0"><strong>We suggest:</strong></ul>
                    <li>Double check the spelling and try again.</li>
                    <li>Try using a less specific search term.</li>
                    <li>If you cannot find in search, please use the button below to browse all watches </li>
                    <div class="col-12 p-0 text-center">
                        <a href="{% url 'all_products2' %}" class="btn btn-cta btn-dark my-5">All Watches</a>
                    </div>
                </div>
             {% else %}
             {% for product in products %}
                 <div class="col-xs-12 col-md-5 offset-md-1 col-lg-3 mx-auto mb-4">
                    <div class="card" style="width: 17rem;">

                        <!-- form to add/remove products to the favourites list -->
                        <form class="text-right fav-form" method="POST" action="{% url 'add_remove_favourites' product.id %}">
                            {% csrf_token %}
                            <button class="fav-button" type="submit">
                                <!-- check if the product is already a favourite -->
                                {% if user|is_user_in_fav:product.favourite %}
                                <span class="favorited text-right"><i class="fas fa-heart fa-lg" style="color:rgb(0, 128, 129)"></i></span>            
                                {% else %}
                                <span class="favorite text-right"><i class="far fa-heart fa-lg" style="color:rgb(0, 128, 129)"></i></span>      
                                {% endif %}
                            </button>
                        </form>

                         <a href="{% url 'product_detail' product.id %}"  class="product-image">
                             <img class ="card-img card-img-top product-image" src="{{MEDIA_URL}}{{product.image}}" alt="{{product.name}}" /></a>
                             {% if product.bestseller %}
                             <div class="product-label text-center">Bestseller</div>
                             {% endif %}
                             <div class="card-body product-details">
                             <h6 class="card-title product-name"><a href="{% url 'product_detail' product.id %}"  class="product-title">{{ product.title }}</a></h6>
                         
                             <p class="product-price">€ {{ product.price }}</p>
                         </div>
                         <form method="post" action="{% url 'add_to_cart' product.id %}">
                         {% csrf_token %}
                         <div class="input-group add-cart">
                             <input class="input-add-checkout" name="quantity" type="number" min="1" max="999" class="form-control" value="1" required>
                             <span class="input-group-btn">
                                 <button class="btn btn-dark rounded-0 btn-sm" type="submit">Add to Cart</button>
                             </span>
                         </div>
                     </form>
                    </div>
                 </div>
                {% endfor %}
            {% endif %} 
            </div> 
        </div>
    </div>    
</section>  

<!-- Pagination to display 8 products per page -->       
<section class="pagination-cotainer my-4">
    <div class="container pb-4">
      <div class="row">
        <div class="col-12">
          <div class="pagination justify-content-center">
                    <span class="step-links">
                {% if products.has_previous %}
                <a class="pagination-space" href="?page=1">&laquo; first</a>
                <a class="pagination-space" href="?page={{ products.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current pagination-space">
                Page {{ products.number }} of {{ products.paginator.num_pages }}.
                </span> 
                {% if products.has_next %}
                <a class="pagination-space" href="?page={{ products.next_page_number }}">next</a>
                <a href="?page={{ products.paginator.num_pages }}">last &raquo;</a> {% endif %}
                </span>
            </div>
        </div>
     </div>
  </div>
</section>

{% endblock %}