{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<section class ="homepage-imgs">
<div class="container-fluid title-container">
    <div class="row">
        <div class="col-md-6 title-img">
            <img class="responsive-img" src="{% static 'img/ladies.jpg' %}" alt="title image">
            <a class="btn btn-primary text-uppercase" href="#">Ladies Watches</a>
        </div>
        <div class="col-md-6 title-img">
            <img class="responsive-img" src="{% static 'img/ladies.jpg' %}" alt="mens watches">
            <a class="btn btn-primary text-uppercase" href="#">Mens Watches</a>
        </div>
    </div>
</div> 
</section>

<!--Promotion banner -->

<section class = "container-fluid promotion-banner">
    <div class = "row">
      <div class = "col-12 text-center text-white banner">
        <i class ="pt-1 fas fa-truck"></i>
        <p class = ban-text>Free Next Day Delivery Over €100</p>
      </div>
    </div>
</section>

<!--Product Showcase-->

<section class="products-showcase">
    <div class="row row-flex">
        {% for product in products %}
            <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4 display panel panel-default">
                <div class="panel-body">
                    <div class="product" style="background-image: url('{{ MEDIA_URL }}{{ product.image }}')"></div>
    
                    <h3>{{ product.name }}</h3>
                    <p class="product-description">{{ product.description }}</p>
                    <p>{{ product.price }}</p>
    
                    <form method="post" action="{% url 'add_to_cart' product.id %}">
                        {% csrf_token %}
                        <div class="input-group">
                            <input name="quantity" type="number" min="1" max="999" class="form-control" placeholder="Quantity">
                            <span class="input-group-btn">
                                <button class="btn btn-success" type="submit">Add</button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        {% endfor %}
    </div>
 </section>

{% endblock %}