{% extends "base.html" %}
{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block head_js %}
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript" src="">
    //<![CDATA[
        Stripe.publishableKey = '{{ publishable }}';
    //]]>
</script>
<script type="text/javascript" src="{% static 'js/stripe.js' %}"></script>
{% endblock %}

{% block content %}


<!-- Customer Details section -->

<div class="container checkout-form">
    <div class="container">
      <div class="py-5 text-center">
        <h2>Checkout Form</h2>
      </div>
      <div class="row">
        <div class="col-md-10 pb-2">
          <form role="formc checkout-form mb-2" method="post" id="payment-form" action="{% url 'checkout' %}">
            <legend>Payment Details</legend>
            <hr class="mb-4">
        
            <div id="credit-card-errors" style="display: none;">
                <div id="alert-message block-message error" id="stripe-error-message"></div>
            </div>
        
            <div class="form-group">
                {{ order_form | as_bootstrap }}
            </div>
            
            <h4 class="mb-3">Card Details</h4>
            <hr class="mb-4">
            
            <div class="form-group">
                {{ payment_form | as_bootstrap }}
            </div>

           <!--Order Summary--> 
            
            <div class="col-12 my-5">
              <h4>Your order summary</h4>
            </div>
            <div class="col-12 mb-5">
              <table class="table summary-table border">
                <thead class="thead-light">
                  <tr>
                  
                    <th scope="col">Product</th>
                    <th scope="col"></th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Price</th>
                  </tr>
                </thead>
                <tbody>
                  {% for item in cart_items %}  
                    <tr>
                          <td><img src="{{MEDIA_URL}}{{item.product.image}}" class="card-img-top product-image" alt="{{product.name}}" style="width: 4em;" /></td>
                          <td>{{ item.product.title }}</td>
                          <td> {{ item.quantity }} </td>
                          <td>€ {{ item.product.price }}</td>
                    {% endfor %}
                  </tbody>
              </table>
            
                <div class="col-5 offset-7 text-right">
                <div class="row">
                  <div class="col-6 text-left">
                    <strong>Sub Total </strong>
                  </div>
                  <div class="col-6 text-right">
                    <p>€  {{ total }}</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-6 text-left">
                    <strong>Delivery charges </strong>
                  </div>
                  <div class="col-6 text-right">
                    <p>€  0.00</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-6 text-left">
                  <strong>Total </strong>
                  </div>
                  <div class="col-6 text-right">
                    <p>€  {{ total }}</p>
                  </div>
                </div>
              </div>
            </div>
          <!--order summary end-->
            
            {% csrf_token %}
            <div class="form-group">
             <input class=" btn btn-block btn-dark" id="submit_payment_btn" name="commit" type="submit" value="Proceed to Payment">
           </div>
        </form>
        </div>
     </div>   
  </div>
</div>




{% endblock %}