{% extends 'base.html' %} 
{% load bootstrap_tags %} 
{% load staticfiles %}
{% block page_title %}Profile{% endblock %} 
{% block content %}

<div class="container log-form">
    <div class="row mx-auto w-50 justify-content-center"> 
        <div class="col-sm-12 text-center">
            <h2>Hi <span class="text-capitalize">{{user}}</span>!</h2>
            <p>You can update your Profile</p>
        </div>
            <!-- User can update profile info here -->  
        <div class="col-sm-12">
            <form method="POST">
                    {% csrf_token %} 
                    {{ form | as_bootstrap }}
                    <br>
                    <button type="submit" class="btn-block btn-dark">Submit</button>
            </form>
            <br>
        </div>  
    </div>
</div>
   
{% endblock %}