{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block content %}

<div class="container mb-5 footer-down">
    <div class="row">
        <!-- breadcrumbs -->
        <div id="breadcrumbs" class="col-12 mt-2">
            <a href="/">Home </a>
            <a class="pl-3" href="{% url 'view_cart' %}">Shopping cart </a>
        </div>
    </div>
    <div class="row justify-content-center">
        <heading class="col-11 col-md-10 text-center mt-5">
        {% if total == 0 %}
        <h4 style="background-color: #e6e6e6;">Your cart is currently empty, Please select an item you wish to purchase and click 'Add to Cart'</h4>
        <a href="{% url 'all_products2' %}" class="btn btn-dark my-5"> Continue Shopping</a>
        {% else %}
        <h1 class="pb-5">Your shopping cart</h1>
        {% endif %}
        </heading>  
    </div>
    <!-- contents of shopping cart -->
    {% if total != 0 %}
    <div class= "container cart-container">
        <div class="row justify-content-center">
            {% for item in cart_items %}
            <div class= "col-4 mb-5">
                <img class="mx-auto text-center" src="{{ MEDIA_URL }}{{ item.product.image }}" alt="Product-image" height="100" width="100"/>
            </div>
            <div class="col-8 mb-5">
                <div class="row">
                    <div class="col-10">
                        <h4>{{ item.product.title }}</h4>
                        <p class="product-description">{{ item.product.description }}</p>
                        <p class="price">€{{ item.product.price }}</p>
                    </div>
                    <div class="col-2 text-center">
                        <a href="{% url 'remove_from_cart' item.id %}" class="btn del-button"><i class="far fa-times-circle"></i></a>
                    </div>
                    <div class="col-10">
                        <form class="form-inline" method="post" action="{% url 'adjust_cart' item.id %}">
                            {% csrf_token %}
                            <div class="form-group">
                                <div class="input-group">
                                    <button type="submit" class="btn btn-dark btn-sm"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span><strong>Quantity</strong></button>
                                    <input class="input-cart px-1 form-control" name="quantity" type="number" min="0" max="50" value="{{item.quantity}}">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div> 
        <hr>
        <div class="col-10 text-center">
            <h5>Total: €  {{ total }}</h5>
            <p>Tax included.</p>
        </div>
        <div class="col-10 text-center">
            <a href="{% url 'checkout' %}" class="btn btn-dark" role="button"><span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>Checkout</a>
        </div>
        <div class="col-10 text-center brand-card mt-5">    
            <a href="{% url 'all_products2' %}"><strong>Continue Shopping</strong></a>
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}
